@use 'styles/variables';

.curved-line-vertical {
  --curved-lineColor: #{variables.$white};
  --curved-lineSpread: 50;
  --curved-lineWidth: 2;
  --curved-lineHeight: 20;
  background: paint(curved-line);
  height: 150px;
  width: 20px;
}

.curved-line-vertical:last-child {
  transform: rotate(180deg);
}
