$header-height: 100px;
$blue: #24748f;
$light-blue: #2bacb3;
$yellow: #f1dd6d;
$yellow-rgba: rgba(241, 221, 109, 0.99);
$white: var(--white);
$berry-red: #f26463;
$purple: #bf43a1;
$black: var(--black);

$page-width: 82vw;
$margin: 16px;
$padding: 16px;
