@use 'sass:color';
@use 'styles/variables';
@use 'styles/helper';

@font-face {
  font-family: 'Bungee Shade';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/bungee-shade.woff2') format('woff2');
}

@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/indie-flower.woff2') format('woff2');
}

@font-face {
  font-family: 'IM Fell English';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/im-fell-english.woff2') format('woff2');
}

@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/signika.woff2') format('woff2');
}

@font-face {
  font-family: 'Yesteryear';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/yesteryear.woff2') format('woff2');
}

@font-face {
  font-family: 'Limelight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/limelight.woff2') format('woff2');
}

@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/vt323.woff2') format('woff2');
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --page-width: 960px;
  --font-size: 18px;
  --margin: 1.2rem;
  --padding: 16px;
  --header-height: 100px;
  --footer-height: 225px;

  font-size: var(--font-size);
}

::selection {
  background-color: var(--selection-background);
  color: var(--selection-text);
  font-weight: bold;
}

.curved-line-vertical {
  background: paint(curved-line);
  height: 150px;
  width: 20px;
}

.curved-line-vertical:last-child {
  transform: scale(-1);
}

@mixin default-styles {
  scrollbar-color: var(--primary) var(--secondary);

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--background);
  }

  &::-webkit-scrollbar {
    width: 8px;
  }
}

@include helper.create-theme(
  $theme-name: default,
  $background: #24748f,
  $surface: var(--white),
  $text-on-surface: var(--black),
  $code-string: #2bacb3
) {
  @include default-styles;
}

@include helper.create-theme(
  $theme-name: dark,
  $background: #232625,
  $surface: var(--secondary),
  $text-on-surface: var(--white),
  $code-string: #f1dd6d
) {
  @include default-styles;
}

@include helper.create-theme(
  $theme-name: paper,
  $white: #fff8e2,
  $black: #0d0d0d,
  $primary: none,
  $background: #d9d2d0,
  $background-texture: paint(checkerboard),
  $secondary: var(--background),
  $surface: #40404c,
  $text-primary: #171717,
  $text-on-surface: var(--white),
  $title-font: 'IM Fell English',
  $title-background-color: none,
  $subtitle-font: 'Signika',
  $subtitle-color: var(--text-primary),
  $selection-background: var(--white),
  $selection-text: var(--black),
  $icon-fill: var(--black),
  $code-background: var(--surface),
  $code-keyword: #f2f2f2,
  $code-string: #d9d8d7,
  $code-text-color: var(--white),
  $game-background: var(--black),
  $hex-stroke-color: var(--black),
  $checkerboard-color: #{var(--surface)},
  $checkerboard-spacing: 18,
  $checkerboard-size: 1,
  $curved-lineColor: var(--black),
  $curved-lineSpread: 100,
  $curved-lineWidth: 3,
  $curved-lineHeight: 25,
  $outline: var(--black),
  $hr-color: var(--black)
) {
  scrollbar-width: thin;
  scrollbar-color: transparent var(--surface);

  &::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: var(--surface);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  & #__next {
    background-image: var(--background-texture);
  }
}

@include helper.create-theme(
  $theme-name: neon,
  $background: #4c1e59,
  $background-texture: none,
  $white: #fff8e2,
  $black: #171717,
  $primary: #ff00aa,
  $secondary: #00aaff,
  $surface: var(--secondary),
  $title-font: "'Yesteryear', cursive",
  $title-color: none,
  $title-background-color: none,
  $subtitle-font: "'Limelight', cursive",
  $subtitle-color: transparent,
  $selection-background: rgba(255, 0, 170, 0.99),
  $selection-text: var(--white),
  $icon-fill: none,
  $icon-stroke: var(--secondary),
  $text-primary: #fff8e2,
  $text-on-surface: var(--black),
  $code-background: transparent,
  $code-keyword: var(--red),
  $code-string: #2bacb3,
  $code-text-color: var(--white),
  $hex-stroke-color: var(--primary),
  $hr-color: var(--primary),
  $game-background: var(--secondary),
  $checkerboard-color: var(--background),
  $curved-lineColor: var(--secondary),
  $curved-lineSpread: 3,
  $curved-lineWidth: 3,
  $curved-lineHeight: 20,
  $outline: none
) {
  --icon-stroke-width: 1px;
  --subtitle-stroke: #{1px var(--secondary)};
  --red: #f26463;
  --active-tab-color: #{var(--subtitle-color)};
  --active-tab-stroke: #{1px var(--primary)};
  --checkerboard-animation: glowing 5s ease infinite;
  --checkerboard-stroke-color: #{var(--primary)};
  --codepen-color: #{var(--primary)};
  --neon-glow: 0 0 0px;
  --neon-animation: glowing 5s linear infinite;

  scrollbar-width: thin;
  scrollbar-color: transparent var(--primary);

  &::-webkit-scrollbar-thumb {
    border: 2px solid var(--primary);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  h1 {
    text-shadow: 0px 0px 9px var(--white);
    color: transparent;
    -webkit-text-stroke: 1px var(--white);
  }

  hr {
    box-shadow: var(--neon-glow) var(--primary);
    animation: var(--neon-animation);
  }

  pre {
    box-shadow: var(--neon-glow) var(--primary);
    border: 2px solid var(--primary);
    animation: var(--neon-animation);
  }

  .curved-line-vertical {
    filter: drop-shadow(2px 4px 6px var(--secondary));
  }

  .blog-meta * {
    color: transparent;
    -webkit-text-stroke: var(--subtitle-stroke);
  }

  @keyframes glowing {
    0% {
      filter: drop-shadow(var(--neon-glow) var(--primary));
    }
    20% {
      filter: drop-shadow(0 0 5px var(--primary));
    }
    70% {
      filter: drop-shadow(var(--neon-glow) var(--primary));
    }
    100% {
      filter: drop-shadow(0 0 15px var(--primary));
    }
  }
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text-primary);
  font-family: var(--subtitle-font), sans-serif;
  position: relative;
  min-height: 100vh;
  scrollbar-width: thin;
  line-height: 1.5;

  #__next {
    min-height: 100vh;
  }
}

hr {
  border: none;
  width: 100%;
  height: 2px;
  background-color: var(--hr-color);
}

main {
  top: var(--header-height);
  left: 0;
  width: 100vw;
}

h1 {
  font-family: var(--title-font);
  color: var(--title-color);
  font-size: 2.5rem;
  line-height: 1.2;
}

h4 {
  font-size: 1.25rem;
}

.title {
  display: inline;
  background-color: var(--title-background-color);
}

.subtitle,
.button,
.active-tab {
  font-family: var(--subtitle-font);
  width: max-content;
}

.subtitle {
  --extra-underlineNumber: 3;
  --extra-underlineColor: #{var(--primary)};
  --extra-underlineWidth: 1;
  --extra-underlineSpread: 8;
  font-size: 1.4rem;
  width: max-content;
  background: paint(extra-underline);
  padding-block-end: var(--padding);
}

.subtitle:not(.on-surface) {
  -webkit-text-stroke: var(--subtitle-stroke);
  color: var(--subtitle-color);
}

.button,
.active-tab {
  -webkit-text-stroke: var(--subtitle-stroke);
  font-size: 1.2rem;
  color: var(--subtitle-color);
}

.active-tab:not(:disabled) {
  -webkit-text-stroke: var(--active-tab-stroke);
}

a {
  text-decoration: none;
  outline: none;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

.link {
  color: var(--black);
  background-color: var(--selection-background);
  color: var(--selection-text);

  &::before {
    content: '<a>';
    display: inline-block;
  }

  &::after {
    content: '</a>';
    display: inline-block;
  }
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  transition: all 250ms ease;
}

button:hover,
.button:hover {
  color: var(--primary);
}

button:active {
  color: var(--primary);
  opacity: 0.8;
}

button:focus,
.button:focus {
  background-color: var(--selection-background);
  color: var(--selection-text);
  fill: var(--selection-text);
}

cite {
  font-style: normal;
}

p {
  font-size: 1.1rem;
  letter-spacing: 1.1px;
}

img {
  user-select: none;
}

.ul {
  min-height: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 133px));
  text-align: center;
  gap: 12px;
  width: 100%;
  padding: 0;
}

.li {
  font-size: 0.9em;
  list-style-type: none;
  height: max-content;
  width: 100%;
  border-radius: 16px;
  padding: 8px 14px;
  white-space: pre;
}

.li:nth-child(4n + 1) {
  border: 2px solid variables.$purple;
}

.li:nth-child(4n + 2) {
  border: 2px solid variables.$yellow;
}

.li:nth-child(4n + 3) {
  border: 2px solid variables.$light-blue;
}

.li:nth-child(4n + 4) {
  border: 2px solid variables.$berry-red;
}

.page-root {
  max-width: var(--page-width);
  padding: 0 var(--padding);
  margin: auto;
  overflow: hidden;
}

.single-line-divider {
  --checkerboard-spacing: 4;
  --checkerboard-size: 4;
  height: 6px;
  width: 100%;
  margin: 4px auto;
  filter: var(--checkerboard-filter);
  animation: var(--checkerboard-animation);
  background: transparent paint(checkerboard);
}

.checkerboard {
  --checkerboard-size: 16;
  --checkerboard-spacing: 7;
  background: paint(checkerboard);
  height: 62px;
  width: 100%;
  margin: 32px auto;
  filter: var(--checkerboard-filter);
  animation: var(--checkerboard-animation);
}

.surface {
  background-color: var(--surface);
}

.language-logo-badge--img {
  user-select: none;
  margin: 0 4px;
}

.hljs-keyword,
.hljs-selector-class {
  color: var(--code-keyword);
}

.hljs-string,
.hljs-attribute {
  color: var(--code-string);
}

.hljs-comment {
  opacity: 0.7;
}

@media (max-width: 827px) {
  :root {
    --font-size: 17px;
  }
}

@media (max-width: 773px) {
  :root {
    --font-size: 16px;
  }
}

@media (max-width: 662px) {
  :root {
    --header-height: 56px;
  }
}
