@use 'styles/variables';

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --page-width: 960px;
  --margin: 16px;
  --padding: 16px;
  --header-height: 100px;
  --footer-height: 225px;
}

::selection {
  background-color: var(--selection-background);
  color: var(--selection-text);
  font-weight: bold;
}

.curved-line-vertical {
  background: paint(curved-line);
  height: 150px;
  width: 20px;
}

.curved-line-vertical:last-child {
  transform: scale(-1);
}

.theme-default,
.theme-dark {
  --white: #fff8e2;
  --black: #171717;
  --primary: #f1dd6d;
  --secondary: #24748f;

  --text-primary: var(--white);

  --title-font: 'Bungee Shade', Arial, sans-serif;
  --title-color: var(--black);
  --title-background-color: var(--primary);

  --subtitle-font: 'Indie Flower', cursive, sans-serif;
  --subtitle-color: var(--text-primary);

  --selection-background: rgba(241, 221, 109, 0.99);
  --selection-text: var(--black);

  --icon-fill: var(--white);

  --code-background: var(--surface);
  --code-keyword: #f26463;
  --code-text-color: var(--text-on-surface);

  --checkerboard-color: #{'#BF43A1, #F26463, #F1DD6D, #24748F, #2BACB3'};

  --hex-stroke-color: var(--white);
  --ellipse-color: var(--primary);

  --game-background: var(--background);

  --hr-color: var(--primary);

  --curved-lineSpread: 50;
  --curved-lineWidth: 2;
  --curved-lineHeight: 20;

  scrollbar-color: var(--primary) var(--secondary);

  &::-webkit-scrollbar-thumb {
    background-color: var(--primary);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--background);
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  .curved-line-vertical {
    --curved-lineColor: #{var(--white)};
  }

  .blog-meta {
    color: var(--white);
  }
}

.theme-default {
  --background: #24748f;
  --background-texture: none;

  --surface: var(--white);
  --text-on-surface: var(--black);
  --code-string: #2bacb3;
}

.theme-dark {
  --background: #232625;
  --background-texture: none;
  --surface: var(--secondary);
  --text-on-surface: var(--white);
  --code-string: var(--primary);
}

.theme-paper {
  --background: #d9d2d0;
  --background-texture: paint(checkerboard);

  --white: #fff8e2;
  --black: #0d0d0d;

  --secondary: var(--background);
  --surface: #40404c;

  --text-primary: var(--black);
  --text-on-surface: var(--white);

  --title-font: 'IM Fell English';
  --subtitle-font: 'Signika';
  --subtitle-color: var(--text-primary);

  --selection-background: var(--white);
  --selection-text: var(--black);

  --icon-fill: var(--black);

  --code-background: var(--surface);
  --code-keyword: #f2f2f2;
  --code-string: #d9d8d7;
  --code-text-color: var(--white);

  --game-background: var(--black);

  --hex-stroke-color: var(--black);

  --checkerboard-color: #{var(--surface)};
  --checkerboard-spacing: 18;
  --checkerboard-size: 1;

  --curved-lineSpread: 100;
  --curved-lineWidth: 3;
  --curved-lineHeight: 25;

  --ellipse-color: var(--black);

  --hr-color: var(--black);

  scrollbar-width: thin;
  scrollbar-color: transparent var(--surface);

  &::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: var(--surface);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  & #__next {
    background-image: var(--background-texture);
  }

  .curved-line-vertical {
    --curved-lineColor: #{var(--black)};
  }

  .blog-meta {
    color: var(--black);
  }
}

.theme-neon {
  --background: #4c1e59;
  --background-texture: none;

  --white: #fff8e2;
  --black: #171717;
  --red: #f26463;
  --primary: #ff00aa;
  --secondary: #00aaff;
  --surface: var(--secondary);

  --title-font: 'Yesteryear', cursive;
  --subtitle-font: 'Limelight', cursive;
  --subtitle-color: transparent;
  --subtitle-stroke: 1px var(--secondary);

  --selection-background: rgba(255, 0, 170, 0.99);
  --selection-text: var(--white);

  --icon-fill: none;
  --icon-stroke: var(--secondary);
  --icon-stroke-width: 1px;

  --neon-glow: 0 0 0px;
  --neon-animation: glowing 5s linear infinite;

  --text-primary: var(--white);
  --text-on-surface: var(--black);

  --active-tab-color: var(--subtitle-color);
  --active-tab-stroke: 1px var(--primary);

  --code-background: transparent;
  --code-keyword: var(--red);
  --code-string: #2bacb3;
  --code-text-color: var(--white);

  --hex-stroke-color: var(--primary);
  --hr-color: var(--primary);

  --game-background: var(--secondary);

  --checkerboard-color: #{var(--background)};
  --checkerboard-animation: glowing 5s ease infinite;
  --checkerboard-stroke-color: var(--primary);

  --curved-lineSpread: 3;
  --curved-lineWidth: 3;
  --curved-lineHeight: 20;

  --codepen-color: var(--primary);

  scrollbar-width: thin;
  scrollbar-color: transparent var(--primary);

  &::-webkit-scrollbar-thumb {
    border: 2px solid var(--primary);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  h1 {
    text-shadow: 0px 0px 9px var(--white);
    color: transparent;
    -webkit-text-stroke: 1px var(--white);
  }

  hr {
    box-shadow: var(--neon-glow) var(--primary);
    animation: var(--neon-animation);
  }

  pre {
    box-shadow: var(--neon-glow) var(--primary);
    border: 2px solid var(--primary);
    animation: var(--neon-animation);
  }

  .curved-line-vertical {
    --curved-lineColor: #{var(--secondary)};
    filter: drop-shadow(2px 4px 6px var(--secondary));
  }

  .blog-meta {
    color: var(--secondary);
  }

  @keyframes glowing {
    0% {
      filter: drop-shadow(var(--neon-glow) var(--primary));
    }
    20% {
      filter: drop-shadow(0 0 5px var(--primary));
    }
    70% {
      filter: drop-shadow(var(--neon-glow) var(--primary));
    }
    100% {
      filter: drop-shadow(0 0 15px var(--primary));
    }
  }
}

body {
  margin: 0;
  background-color: var(--background);

  color: var(--text-primary);
  font-family: var(--subtitle-font), sans-serif;
  min-height: 100vh;
  position: relative;

  scrollbar-width: thin;

  #__next {
    min-height: 100vh;
  }
}

hr {
  border: none;
  width: 100%;
  height: 2px;
  background-color: var(--hr-color);
}

main {
  top: var(--header-height);
  left: 0;
  width: 100vw;
}

h1 {
  display: inline;
  font-family: var(--title-font);
  color: var(--title-color);
  font-size: 2.5rem;
  line-height: 1.2;
}

h4 {
  font-size: 1.25rem;
}

.title {
  background-color: var(--title-background-color);
}

.subtitle,
.button,
.active-tab {
  font-family: var(--subtitle-font);
  width: max-content;
}

.subtitle {
  --extra-underlineNumber: 3;
  --extra-underlineColor: #{var(--primary)};
  --extra-underlineWidth: 1;
  --extra-underlineSpread: 8;
  font-size: 1.4rem;
  width: max-content;
  background: paint(extra-underline);
}

.subtitle:not(.on-surface) {
  -webkit-text-stroke: var(--subtitle-stroke);
  color: var(--subtitle-color);
}

.button,
.active-tab {
  -webkit-text-stroke: var(--subtitle-stroke);
  font-size: 1.2rem;
  color: var(--subtitle-color);
}

.active-tab:not(:disabled) {
  -webkit-text-stroke: var(--active-tab-stroke);
}

a {
  text-decoration: none;
  outline: none;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

.link {
  color: var(--black);
  background-color: var(--selection-background);
  color: var(--selection-text);

  &::before {
    content: '<a>';
    display: inline-block;
  }

  &::after {
    content: '</a>';
    display: inline-block;
  }
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

cite {
  font-style: normal;
}

p {
  line-height: 1.5;
  font-size: 1.1rem;
  letter-spacing: 1.1px;
}

.page-root {
  max-width: var(--page-width);
  padding: 0 var(--padding);
  margin: auto;
  overflow: hidden;
}

.single-line-divider {
  --checkerboard-spacing: 4;
  --checkerboard-size: 4;
  height: 6px;
  width: 100%;
  margin: 4px auto;
  filter: var(--checkerboard-filter);
  animation: var(--checkerboard-animation);
  background: transparent paint(checkerboard);
}

.checkerboard {
  --checkerboard-spacing: 7;
  --checkerboard-size: 16;
  background: paint(checkerboard);
  height: 62px;
  width: 100%;
  margin: 32px auto;
  filter: var(--checkerboard-filter);
  animation: var(--checkerboard-animation);
}

.surface {
  background-color: var(--surface);
}

.language-logo-badge--img {
  user-select: none;
  margin: 0 4px;
  object-fit: cover;
}

.hljs-keyword,
.hljs-selector-class {
  color: var(--code-keyword);
}

.hljs-string,
.hljs-attribute {
  color: var(--code-string);
}

.hljs-comment {
  opacity: 0.7;
}

@media (max-width: 827px) {
  :root {
    font-size: 18px;
  }
}

@media (max-width: 773px) {
  :root {
    font-size: 16px;
  }
}

@media (max-width: 662px) {
  :root {
    --header-height: 56px;
  }
}
