@use 'styles/variables';

@function gradient-border($angle) {
  @return linear-gradient(
    $angle,
    variables.$purple,
    variables.$berry-red,
    variables.$yellow,
    variables.$blue,
    variables.$light-blue
  );
}

$snake-game-border: 3px;

.snake-wrapper--div {
  flex: 1 0 300px;
  border-radius: 4px;
  border: $snake-game-border solid transparent;

  background-clip: padding-box;
  position: relative;
  height: 300px + 2 * $snake-game-border;
  width: 300px + 2 * $snake-game-border;
}

.snake-wrapper--div:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: $snake-game-border * -1;
  border-radius: inherit;
  background: gradient-border(0deg);
  animation: game-border 400ms infinite ease;
}

@keyframes game-border {
  0% {
    background: gradient-border(0deg);
  }
  25% {
    background: gradient-border(90deg);
  }
  50% {
    background: gradient-border(180deg);
  }
  75% {
    background: gradient-border(270deg);
  }

  100% {
    background: gradient-border(360deg);
  }
}
