@use 'styles/variables';

.skillBtnsWrapper {
  display: flex;
  flex-wrap: wrap;
}

.skillBtnDiv {
  margin-right: var(--margin);
  position: relative;
  margin-bottom: var(--margin);
  text-align: center;
  min-width: 80px;

  button {
    width: 100%;
  }
}
