@value variables: 'styles/variables.css';
@value yellow from variables;

.underline--div {
  --extra-underlineNumber: 3;
  --extra-underlineColor: yellow;
  --extra-underlineWidth: 1;
  --extra-underlineSpread: 8;
  background: paint(extra-underline);
  width: max-content;
}
