@use 'styles/variables';

.underline--div {
  --extra-underlineNumber: 3;
  --extra-underlineColor: #{variables.$yellow};
  --extra-underlineWidth: 1;
  --extra-underlineSpread: 8;
  background: paint(extra-underline);
  width: max-content;
}
