.home-page-top--div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 312px;
}

.top-right--div {
  min-height: 300px;
  display: flex;
  align-items: center;
}

.site-greeting--div {
  flex: 1 1 48%;

  hgroup > h1 {
    br {
      user-select: none;
    }

    br::selection {
      background-color: transparent;
    }

    span {
      height: 40px;
      background-color: var(--title-background-color);
      display: inline;
    }
  }
}
