@use 'styles/variables';

.packages--div {
  margin-bottom: variables.$margin;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: variables.$margin;
}

.package-wrapper--div {
  --fill-color: #{variables.$white};
  --paint-color: #{variables.$white};
  --stroke-weight: 0;
  background: paint(angled-corners);
  padding: 12px;
  color: variables.$black;
}

.package-inner--div {
  padding: 8px 14px;
  border: 6px solid variables.$blue;
}

.package-link--div {
  width: 100%;
  text-align: right;
}

.language-logo-badges--div {
  display: flex;
}

.package-description--p {
  font-size: 0.9em;
  opacity: 0.9;
}
