.packages {
  margin-bottom: var(--margin);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: var(--margin);
}

.packageWrapper {
  --fill-color: var(--surface);
  --paint-color: var(--surface);
  --stroke-weight: 0;
  padding: 12px;
  color: var(--text-on-surface);
}

.packageInner {
  padding: 8px 14px;
  border: 6px solid var(--background);
}

.packageLink {
  width: 100%;
  text-align: right;
}

.languageLogoBadges {
  display: flex;
}

.packageDescription {
  opacity: 0.9;
}
