.packages {
  margin-bottom: var(--margin);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: var(--margin);
}

.packageWrapper {
  --fill-color: var(--surface);
  --paint-color: var(--surface);
  --stroke-weight: 0;
  padding: 12px;
  color: var(--text-on-surface);
}

.package-inner--div {
  padding: 8px 14px;
  border: 6px solid var(--background);
}

.package-link--div {
  width: 100%;
  text-align: right;
}

.language-logo-badges--div {
  display: flex;
}

.package-description--p {
  font-size: 0.9em;
  opacity: 0.9;
}
