.blogPost {
  h2 {
    font-family: var(--subtitle-font);
  }

  pre {
    padding: calc(var(--padding) / 2);
    background-color: var(--code-background);
    font-size: 0.8rem;
    max-width: 720px;
    margin: auto;
    white-space: pre;
    overflow: hidden;

    code {
      border: 8px solid var(--background);
      padding: var(--padding);
      display: block;
      color: var(--code-text-color);
      overflow: scroll;
    }
  }

  figure:not(.headerImageFigure) {
    padding: var(--padding) 64px;

    blockquote {
      &::before {
        content: '“';
      }

      &::after {
        content: '”';
      }
      background-color: var(--selection-background);
      color: var(--selection-text);
      margin: 0 0 var(--margin) 0;
      padding-inline: 0;
      display: inline;
      line-height: 2;
    }

    figcaption {
      text-align: right;
    }
  }
}

.titleWrapper {
  margin: var(--margin) 0;
}

.meta {
  min-height: 48px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 4px var(--padding);

  * {
    flex-shrink: 0;
  }
}

.social {
  display: flex;
  align-items: center;

  a {
    margin: 0 4px;
    width: max-content;
    padding: 15px;
  }
}

.author {
  color: var(--text-secondary);
  display: flex;
  align-items: center;

  .avatar {
    border-radius: 50%;
  }

  span {
    margin-left: 8px;
  }
}

.headerImageFigure {
  padding: 0;
  margin: 0;

  figcaption {
    font-size: 0.8rem;
    color: var(--inactive-text);
  }
}

.blogImageWrapper {
  width: 100%;
  max-width: 720px;
  margin: auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 490px) {
  .social {
    padding: 4px 0;
    order: 3;
    width: 100%;
    justify-content: center;
  }
}
