.blogPost {
  h2 {
    font-family: var(--subtitle-font);
  }

  pre {
    padding: calc(var(--padding) / 2);
    background-color: var(--code-background);
    color: var(--code-text-color);

    code {
      border: 8px solid var(--background);
      padding: var(--padding);
      display: block;
    }
  }

  blockquote {
    background-color: var(--selection-background);
    color: var(--selection-text);
    padding: 8px;
  }
}

.titleWrapper {
  margin: var(--margin) 0;
}

.meta {
  min-height: 48px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 4px var(--padding);

  * {
    flex-shrink: 0;
  }
}

.social {
  display: flex;
  align-items: center;

  a {
    margin: 0 4px;
    width: max-content;
    padding: 15px;
  }
}

.author {
  color: var(--text-secondary);
  display: flex;
  align-items: center;

  .avatar {
    border-radius: 50%;
  }

  span {
    margin-left: 8px;
  }
}

.blogImageWrapper {
  width: max-content;
  margin: auto;
}

@media (max-width: 490px) {
  .social {
    padding: 4px 0;
    order: 3;
    width: 100%;
    justify-content: center;
  }
}
