.blogPost {
  h2 {
    font-family: var(--subtitle-font);
  }

  pre {
    padding: calc(var(--padding) / 2);
    background-color: var(--code-background);
    color: var(--code-text-color);

    code {
      border: 8px solid var(--background);
      padding: var(--padding);
      display: block;
    }
  }
}

.meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding);

  .social {
    display: flex;
    align-items: center;

    a {
      margin: 0 8px;
    }
  }
}

.author {
  color: var(--text-secondary);
  display: flex;
  align-items: center;

  .avatar {
    border-radius: 50%;
  }

  span {
    margin-left: 8px;
  }
}
