@use 'styles/variables';

.footer-inner--div {
  max-width: variables.$page-width;
  padding: 0 variables.$padding;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-inner--div > small {
  max-width: 450px;
  margin-bottom: variables.$margin;
}

.footer-inner--small {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: variables.$margin;
  justify-content: space-evenly;
}

.footer-inner--small > span {
  margin-right: 4px;
}

.footer-social-links--div {
  width: 144px;
  display: none;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .footer-social-links--div {
    display: flex;
  }
}
