.post {
  --fill-color: var(--surface);
  --paint-color: var(--primary);
  --stroke-weight: 4;
  color: var(--text-on-surface);
  max-width: 475px;
  margin: 0 auto var(--margin) auto;
  padding: 8px;
}

.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 8px solid var(--background);
}

.titleWrapper,
.excerpt,
.tagList {
  padding: var(--padding);
}

.title {
  font-size: 1.75rem;
  max-width: 100%;
  text-decoration: underline;
  margin: 0;
}

.hr {
  margin: 0;
  background-color: var(--background);
  height: 8px;
}

.tagList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin: 0;
}

.tag {
  width: max-content;
  font-size: smaller;
  opacity: 0.8;
  /* color: var(--selection-text); */
}

.tag:not(:last-child)::after {
  content: ' •';
  vertical-align: middle;
}
