.post {
  --fill-color: var(--surface);
  --paint-color: var(--primary);
  --stroke-weight: 4;
  color: var(--text-on-surface);
  max-width: 475px;
  margin: 0 auto var(--margin) auto;
  padding: 8px;
}

.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 8px solid var(--background);
}

.titleWrapper,
.excerpt {
  padding: var(--padding);
}

.title {
  margin: 0;
  font-size: 1.75rem;
}

.hr {
  margin: 0;
  background-color: var(--background);
  height: 8px;
}
