@value variables: 'styles/variables.css';
@value yellow from variables;

.codepens--div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 49%));
  gap: 1%;
}

.codepen-wrapper--div {
  --fill-color: yellow;
  --paint-color: yellow;
  --stroke-weight: 16;
  --codepen-padding: 17px;

  background: paint(angled-corners);
  padding: var(--codepen-padding);
  height: calc(375px + (var(--codepen-padding) * 2));
}
