@use 'styles/variables';

.codepens--div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 49%));
  gap: 1%;
}

.codepen-wrapper--div {
  background: paint(angled-corners);
  --fill-color: #{variables.$yellow};
  --paint-color: #{variables.$yellow};
  --stroke-weight: 16;

  $codepen-padding: 17px;
  padding: $codepen-padding;
  height: 375px + $codepen-padding * 2;
}
