@use 'styles/variables';

.bio-section--div {
  margin-bottom: variables.$margin;
}

.bio-btns-wrapper--div {
  display: flex;
  width: 175px;
  height: 45px;
  justify-content: space-between;
}

.bio-btn-wrapper--div {
  width: 70px;
  position: relative;
}

.bio-btn--btn {
  width: 100%;
}
