.sidebarWrapper {
  position: fixed;
  left: calc((100vw - var(--page-width)) / 2 - 48px);
  top: calc(100vh / 2 - 250px);
}

.socialIconsWrapper {
  padding: 4px 0;
}

.socialIconsInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 144px;
  padding: 4px 0;
}

.socialIconsInner > a {
  height: 24px;
}

@media (max-width: 1065px) {
  .sidebarWrapper {
    display: none;
  }
}
