@use 'styles/variables';

.btn-outline--svg {
  position: absolute;
  width: 115px;
  fill: none;
  stroke: variables.$yellow;
  stroke-width: 15px;
  z-index: -1;
  top: -21px;
  left: -20px;
  stroke-linecap: round;
}
