.button {
  display: flex;
  align-items: center;
  will-change: opacity;
}

.button > span {
  -webkit-text-stroke: transparent;
  color: var(--text-primary);
  opacity: 0.6;
  height: 100%;
  margin-left: var(--margin);
  font-size: 1.75rem;
  padding-block-end: var(--padding);
  transition: all 250ms ease;
  user-select: none;
}

.button:hover > span {
  opacity: 1;
}

.button:active > span {
  opacity: 0.7;
}
