.portfolio-wrapper--div {
  min-height: 325px;
}

.portfolio-tabs-btns-wrapper--div {
  display: flex;
  width: 100%;
  max-width: 425px;
  height: 45px;
  justify-content: space-between;
}

.portfolio-tabs-btn--div {
  position: relative;
  min-width: 80px;
}

.portfolio-tabs-btn--div > button {
  width: 100%;
}

.portfolio-content-wrapper--div {
  margin-top: var(--margin);
}
