@value variables: 'styles/variables.css';
@value white from variables;

.projects-wrapper--div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 4px;
}

.thumbnail-root--div {
  position: relative;
  width: 275px;
  height: 178px;
  justify-self: center;
}

.thumbnail-details--div {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnail-details--div > a {
  margin-bottom: 8px;
}

.thumbnail-description--span {
  font-size: 0.7em;
  color: white;
  font-weight: bold;
}

.thumbnail-image-wrapper--btn {
  width: max-content;
  height: 100%;
}
